<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.t">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- <meta-data
          android:name="com.example.t"
          android:value="9cbe58696054e13af8b1af03b3b83116" /> -->
</manifest>
